extends layout

block content

  if cloudInstances.length
    table.listing-table.table-dark.table-striped
      tr
        th Cloud Service Provider Name
        th Cloud Service Type
      each cloudInstance in cloudInstances
        tr
          td= cloudInstance.cspActivityType
          td= cloudInstance.cspType
  else
    p No registrations yet :(
