extends layout

block content

  if cloudInstances.length
    table.listing-table.table-dark.table-striped
      tr
        th Activity Type
      each cInstance in cloudInstances
        tr
          td= cInstance.cspServiceDescription
  else
    p No registrations yet :(
